<!DOCTYPE html> <!-- document type and version of HTML -->
<html lang="en"> <!-- english -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/basic.css') }}">


    <!-- ______________________________________________________________________________________________________-->

    <style>
      /* CSS style -> adds space between buttons and content */
      #Content {
          margin-top: 20px; /* can adjust number*/
      }
      /* CSS style -> adds space for list of clubs */
      #ClassDetails {
          margin-top: 20px; /* can adjust number*/
      }
      /* CSS style for the white rectangle */
      .classListContainer {
          background-color: white;
          padding: 50px;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
          width: 30%; /* Adjust the width as needed */

      }
  </style>
  </head>

     <!-- ______________________________________________________________________________________________________-->

  <body style="background: rgb(199, 233, 243);">
    <div align='center'> 
        <div>
          <h1>Recreational Club Membership</h1>
          <h2>Welcome <span>{{username}}</span>!</h2>
          <h3>This is your coach homepage!<h3>
        </div>
        

        <div>
          <h2>Classes</h2>
          <!--<button onclick="displayClasses()">Find a Class</button> call displayClasses() when button is clicked -->
          <button onclick="createClass()">Create a Class</button> <!-- onclick attribute -->
          <h2>Classes available</h2>
      </div>


      <!-- white rectangle container for the list of classes -->
      <div class="classListContainer">
        <div id="Content"></div>
       </div>


        
        <div id="Content"> <!-- shows that we created a class, shows classes made-->
        </div>

        <div id="ClassDetails"> <!-- display class details as message-->
        </div>
        
        

   <!-- ______________________________________________________________________________________________________-->

        <script>
        var classes = []; // store created classes

        function createClass() { // makes a pop up that asks you to enter the name of the class

          var className = prompt("Enter the name of the class:");
          if (className !== null && className !== "") {
            document.getElementById("Content").innerText = "You have created the class: " + className;

            var classTime = prompt("Please enter the Date and Time in the format: XX:XX AM/PM | XX / XX / XXXX" ); //get timing, btw need to add a cancel function
            if (classTime !== null && classTime !== "") {
                        classes.push({name: className, time: classTime});
                        displayClasses();
            
            }
        }
      }



        function displayClasses() { //adds classes made to a list, if there are no classes it just gives an error
          var classList = "";
          if (classes.length === 0) {
            alert("Sorry, there are no classes! Maybe try creating one.");
          }
          else {
            classList += "<p>Please click on the class for details:</p>";
            for (var i = 0; i < classes.length; i++) {
              classList += "<button onclick='showClassDetails(\"" + classes[i].name + "\", \"" + classes[i].time + "\")'>" + classes[i].name + "</button><br>";
            }
            document.getElementById("Content").innerHTML = classList
            }



          }
          function showClassDetails(className, classTime) {
            // print class details in ClassDetails div
            document.getElementById("ClassDetails").innerHTML = "Details for class: " + className + "<br>Time: " + classTime;
        }


            // implement js method to get the username and render it in the home page
            fetch('/home', {
              method: 'GET',
          })
          .then(response => response.text())
          .then(username => {
            //const parsedData = JSON.parse(data);
              document.getElementById("username").innerHTML = username
              // Use the username as needed, e.g., display it in the UI
          })
          .catch(error => {
              console.error('Error:', error);
          });

      
            
        </script>
  </body>
  
</html>