<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/basic.css') }}">
  </head>
  <body style="background: white;">
    <div align='center'> 
        <div>
            <h1>Recreational Club Membership</h1>
            <h2>Welcome <span>{{username}}</span>!</h2>
        </div>
        
        
        <div>
            CONTENT
        </div>
        

        <script>
            // implement js method to get the username and render it in the home page
            fetch('/home', {
              method: 'GET',
          })
          .then(response => response.text())
          .then(username => {
            //const parsedData = JSON.parse(data);
              document.getElementById("username").innerHTML = username
              // Use the username as needed, e.g., display it in the UI
          })
          .catch(error => {
              console.error('Error:', error);
          });
        </script>
  </body>
  
</html>