<!DOCTYPE html> <!-- document type and version of HTML -->
<html lang="en"> <!-- english -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/basic.css') }}">


    <!-- ______________________________________________________________________________________________________-->

    <style>
      /* CSS style -> adds space between buttons and content */
      #Content {
          margin-top: 20px; /* can adjust number*/
      }
      /* CSS style for the white rectangle */
      .classListContainer {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
        width: 30%; /* Adjust the width as needed */
        text-align:left;
        padding-left: 20px

    }
  </style>
  </head>

     <!-- ______________________________________________________________________________________________________-->

  <body style="background: rgb(199, 233, 243);">
    <div align='center'> 
        <div>
          <h1>Recreational Club Membership</h1>
          <h2>Welcome <span>{{userInfo.name}}</span>!</h2>
          <h3>This is your coach homepage!<h3>
        </div>
        
        <button onclick="createclass()">Create a Class</button>

        <h2>Your Upcoming Classes</h2>
        <div class="classListContainer">
          {% for class in upcomingClasses %}
          <p>class {{class.class_id}} - {{class.time}}, {{class.date}}</p>
            <button onclick="showMembers()" style="float: right">Edit Class</button>
            <div class="classListContainer" id="classList">
              {% for member in allMembers%}
              {%if is in(member, class.members)%}
              <h2> Remove a Member </h2>
              {%for remMember in class.members%}
              <p>{{remMember.name}}</p>
              <button onclick="editClass({{remMember}}, {{class.members}})" style="float: right">Remove</button>
              {%endfor%}
              {%else%}
              <h2> Add a Member</h2>
              <p>{{member.name}}</p>
              <button onclick="editClass({{member}}, {{class.members}})" style="float: right">Add</button>
              {%endif%}
              {%endfor%}
            </div>
          {% endfor %}
          
      </div>


      <!-- white rectangle container for the list of classes -->
      <h2>All Classes</h2>
      <div class="classListContainer">
        <div id="Content"></div>
        {% for class in allClasses %}   
        <p>class: {{class.class_id}} {{class.coach}} - {{class.time}}, {{class.date}}
        </p>
        {% endfor %}

       </div>

        
        

   <!-- ______________________________________________________________________________________________________-->

        <script>
        var userInfo = {
        name: "{{ userInfo.name }}",
        username: "{{userInfo.username}}",
        password: "{{userInfo.password}}",
        user_type: "{{userInfo.user_type}}",
        finished_classes: "{{userInfo.finished_classes}}",
        upcoming_classes: "{{userInfo.upcoming_classes}}"
    };

        var classes = []; // store created classes

        function createclass() { // makes a pop up that asks you to enter the name of the class
          console.log(userInfo.user_type);
            var classDay = prompt("Please enter the Date in the format: MM/DD/YYYY" ); //get timing, btw need to add a cancel function
            console.log(classDay);

            var classTime = prompt("Please enter the Time in the format: hhmm 24 hour format")
            console.log(classTime);
            
            classes.push({day: classDay, time: classTime});
            //document.getElementById("classContent").innerText = "You have created a class on: " + classDay + " at " + classTime;     
            fetch('/createclass', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ username: userInfo.username, date: classDay, time: classTime, user_type:userInfo.user_type}) // corrected syntax here
          })
            .then(response => response.json())
            .then(response => {
                // Handle response from the backend if needed
                if (response.error){
                  console.log(response.error);
                  alert("An error occured while creating the class, probably because you entered the wrong date format :(");
                  window.location.href = "/home";
                }
                if (response.success) {
                  console.log(response);
                  alert("You have created a class on: " + classDay + " at " + classTime);
                  window.location.href = "/home";
              }

            })
            .catch(error => {
              alert(response.message);
              console.error('Error:', error);
            });
            }
        

        function showMembers(){
          var popup = document.getElementById("classList");
          popup.classList.toggle("show");
        }
             
        function editClass(member, classList){
             if(classList.includes(member)){
              let index = classList.indexOf(member);
              classList.splice(index, 1);
             }
             else{
              classList.push(member);
             }
             /*  
             fetch('/editClass', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(classLisr: classList),
            })*/
          }
          
            

            // implement js method to get the username and render it in the home page
            fetch('/home', {
              method: 'POST',
              headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ upcoming_classes: userInfo.upcoming_classes}),
          })
          .then(response => response.text())
          .then(username => {
            //const parsedData = JSON.parse(data);
              document.getElementById("username").innerHTML = username
              // Use the username as needed, e.g., display it in the UI
          })
          .catch(error => {
              console.error('Error:', error);
          });

      
            
        </script>
  </body>
  
</html>