<!DOCTYPE html> <!-- document type and version of HTML -->
<html lang="en"> <!-- english -->
  <head>
    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/basic.css') }}">


    <!-- ______________________________________________________________________________________________________-->


  </head>

     <!-- ______________________________________________________________________________________________________-->

  <body style="background: rgb(199, 233, 243);">
    <div align='center'> 
        <div>
            <h1>Recreational Club Membership</h1>

        <button onclick="window.location.href = '/login';" >Log In</button>
        <button onclick="window.location.href = '/signup';" >Sign Up</button>
        </div>
        





        

        

   <!-- ______________________________________________________________________________________________________-->


  </body>
  
</html>