<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/basic.css') }}">
  </head>
  <body style="background: white;">
    <div align='center'> 
        <div>
            <h1>Login</h1>
        </div>
        
        <form onsubmit="logIn(event)" action="/login" method="POST">
          <div class="container" style="width: 25%; padding: 10px; border: 1px solid black;  ">
            <label for="uName"><b>Username/Email</b></label>
            <input type="text" name="uName" id="uName">
            <br><br>
            <label for="password"><b>Password</b></label>
            <input type="password" name="password" id="password">
            <br><br>
            <input type="submit" value="Login">
          </div>
        </form>

        <p>New Member? Sign up Here:</p>
        <button onclick="window.location.href = '/signup';" >Sign Up</button>

        

        <script>
            function logIn() {

              event.preventDefault();

              let username = document.getElementById("uName").value;
              let password = document.getElementById("password").value;
              let data = null;
              fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ uName: username, password: password }),
            })
            .then(response => response.json())
            .then(data => {
                if (data['success']=='true'){
                  console.log(data['username']);
                  window.location.href = "/home";
                  
                }
                else{
                  console.log(data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
            
        </script>

        <script>
            
        </script>
  </body>
  
</html>